<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>broker User Main Page</title>
</head>
<body>
 <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <h1 style='front-family:"Comic Sans MS", cursive, sans-serif;'><center><i class='fab fa-asymmetrik fa-spin' style='font-size:50px;width:100;color:blue'></i> Zero Error Mortgage</center></h1>
    <div align="center">
        <style>
           ul {list-style-type: none;margin: 0;padding: 0;width: 200px;background-color: #f1f1f1;}
           li a {display: block;color: #000;padding: 10px 18px;text-decoration: none;}
           li a:hover {background-color: #4CAF50;color: white;}
         </style>
         <h2 style='"Comic Sans MS", cursive, sans-serif;font-size:150%;line-height: 4.5;'>Welcome,</h2>
         <ul>
             <li><a href="./user_status.html">Mortgage Status</a></li>
             <li><a href="./application.html">Mortgage application</a></li>
         </ul>

        <form action="./broker_main.html" style ="line-height: 3">
            <button type="submit">log out</button>
      </form>
    </div>

</body>
</html>